/* Global Styles */
body {
  color: #050315; 
  background-color: #fbfbfe;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Header Styles */
header {
  background-color: #2f27ce;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 32px;
  color:#ffffff
}

/* Navigation Styles */
nav {
  background-color: #dedcff;
  padding: 10px 0;
}

nav a {
  
  color: #000000;
  text-decoration: none;
  margin-right: 20px;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #433bff;
}

/* Section Styles */
section {
  background-color: #dedcff;
  padding: 40px;
  margin: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section h2 {
  margin-top: 0;
}

section p {
  line-height: 1.6;
}

/* Footer Styles */
footer {
  background-color: #2f27ce; 
  color: #fbfbfe; 
  padding: 20px;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

